{% extends "Messages/discussion_detail.html" %}

{% load bootstrap_toolkit %}
{% block actions %}{% endblock %}

{% block form %}

{% block intro %}
<h3>Accepter la levée d'anonymat</h3>

<p>Les informations suivantes seront transmises à votre contact.</p>
{% endblock %}

<div class="row">
  <div class="span5">
    <form method="post" class="discussion-form">
      {% bootstrap_form form layout="vertical" %}
      <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>
  </div>
</div>

{% endblock %}
