{% extends "base.html" %}

{% block main %}
<div class="row">
  {% block content %}

  <div class="hero-unit">
    <h1>
      Le projet Deucalion
    </h1>
    <p>
      Deucalion est un projet de plateforme internet permettant à des entreprises technologiques d'accroître leur visibilité. 
      Il est porté par la société <a href="http://promethee-sas.fr">Prométhée</a> et par son dirigeant, Stéphane Gasser.
    </p>
  </div>

  <div class="span6">
    <h2>
      Le principe
    </h2>
    
    <p>
      Au XXIe siècle, on ne peut plus être spécialiste de tous les domaines techniques.
      Deucalion a pour ambition de guider <em>gratuitement</em> des professionnels (ingénieurs ou techniciens) :
      <ul>
        <li>vers une <em>une solution technique</em></li>
        <li>répondant à un <em>besoin qu'ils rencontrent</em></li> 
        <li>et pour lesquels ils ne <em>connaissent pas</em> de solutions satisfaisante, voire <em>ignorent</em> 
          s'il existe une solution.</li>
      </ul>
      Et comme il est probable que la solution technique nécessite des compétences spécifiques, Deucalion leur permet aussi 
      d'identifier des entreprises qui maîtrisent cette solution technique.
    </p>
    <p>
      Cette plateforme va mettre en évidence des technologies <em>méconnues</em>, et donc des entreprises qui méritent plus de
      <em>visibilité</em>. Ce sont ces entreprises qui vont rémunérer Deucalion pour l'apport de nouveaux clients que permet
      cette visibilité.
    </p>
  </div>
  <div class="span6">
    <h2>
      Le fonctionnement
    </h2>
    <p>	
      Deucalion est basé sur du contenu rédigé par des spécialistes de la recherche de technologies. 
      Ce contenu, pérenne comme un article encyclopédique de Wikipédia, se veut <em>pédagogique</em> : il doit orienter les utilisateurs
      de la <em>problématique</em> qu'ils rencontrent à la <em>technologie</em> la plus adaptée à leur situation, 
      puis à l'<em>entreprise</em> la plus compétente pour répondre.
    </p>
    <p>
      Mais l'expérience montre qu'il ne suffit pas toujours d'identifier une technologie séduisante. Il est souvent nécessaire de
      s'assurer auprès d'experts de la technologie qu'elle est effectivement adaptée à son besoin. 
      Pour faciliter cette prise d'information sans pour autant s'engager immédiatement dans un échange commercial, 
      les entreprises inscrites sur Deucalion pourront être contactées de manière <em>anonyme</em>.
    </p>
  </div>
  {% endblock %}
</div>
{% endblock %}

